<div id="<%= dom_id(habit) %>" class="habit">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= habit.name %></h5>
        <p class="card-text">
            <strong>Category:</strong> <%= habit.category.title %><br>
            <strong>Frequency:</strong> <%= habit.frequency %><br>
            <strong>Start Date:</strong> <%= habit.start_date.strftime("%B %d, %Y") %>
        </p>
        <%= link_to_unless_current "View", habit, class: "btn btn-secondary" %>
      </div>
    </div>
</div>