<% title "My Habits" %>

<div class="search-container">
    <%= search_form_for @q, url: habits_path, method: :get, local: true do |f| %>
        <div class="search-fields">
            <h5>Search by</h5> 
            <%= f.text_field :name_cont, placeholder: "Name", class: "search-input" %>
            <h5> or </h5>
            <%= f.text_field :frequency_cont, placeholder: "Frequency", class: "search-input" %></br>
        </div>
        <div class="button-container">
            <%= f.submit "Search", class: "primary-button" %>
        </div>
    <% end %>
</div>

<div class="card-container">
    <% if @habits.any? %>
        <% @habits.each do |habit| %>
            <%= render habit %>
        <% end %>
    <% end %>
</div>

<div class="button-container">
    <%= link_to "New Habit", new_habit_path, class: "primary-button" %>
</div>