<% title "My Habits" %>

<%= form_with url: habits_path, method: :get, local: true do %>
  <div>
    <%= label_tag :query, "Search Habits" %>
    <%= text_field_tag :query, params[:query], placeholder: "Enter keywords" %>
    <%= submit_tag "Search" %>
  </div>
<% end %>

<div class="card-container">
    <% @habits.each do |habit| %>
        <%= render habit %>
    <% end %>
</div>

<div class="button-container">
    <%= link_to "New Habit", new_habit_path, class: "primary-button" %>
</div>