<!DOCTYPE html>
<html>
  <head>
    <title>Habit Tracker<%= " | "+yield(:title) unless yield(:title).blank? %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="container-fluid">
        <%= link_to 'Habit Tracker', root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <%= nav_link 'Home', root_path %>
            <%= nav_link 'Habits', habits_path %>
            <%= nav_link 'About', about_path %>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <main class="container-fluid">
      <div id="flash-messages" class="w-75" >
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == 'notice' ? 'primary' : 'danger'%> alert-dismissable fase show d-flex justify-content-between" role="alert">
            <p><string><%= msg %></strong></p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
      </div>
      <div>
        <% if @show_title %>
          <div class="col">
            <h1><%= yield(:title) %></h1>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </main>

    <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><%= nav_link 'Home', root_path %></a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><%= nav_link 'Habits', habits_path %></a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><%= nav_link 'About', about_path %></a></li>
        </ul>
        <p class="text-center text-body-secondary">&copy; 2024 Janet Lynn Jennings Worden</p>
      </footer>
    </div>
    
  </body>
</html>
